---
layout: default
title: Blog
categories:
  - business
  - design
  - marketing
---

<!-- START Blog Intro -->
<section class="grid-middle-center light-bg centered fade-in-element">
  <div class="col-6_sm-8">
      <h1>Blog</h1>
      <p>Small business marketing and design how-to advice, tactics and strategies on everything from branding, advertising, copywriting, web design &amp; development, user experience and social media.</p>
    </div>
    <nav class="col-12_sm-12 blog-nav-margin">
      <a span data-filter="all" class="cta">all</a>
      <a span data-filter="business" class="cta blog-nav-margin">business</a>
      <a span data-filter="design" class="cta">design</a>
      <a span data-filter="marketing" class="cta blog-nav-margin">marketing</a>
    </nav>
</section>
<!-- END Blog Intro -->
<!-- START Blog Posts -->
<section>

<div class="col-12_sm-12 grid filtr-container">

 {% for post in site.posts %}
  <div class="col-4_sm-12 filtr-item" data-sort="value" data-category="{{ post.category }}">
    {% include blog-preview.html post=post %}
  </div>

 {% endfor %}

</section>
<!-- END Blog Posts -->
